.home-container {
	flex-direction: row;
	
	width: calc(100vw - (20px * 2));
	height: calc(100vh - (20px * 2));
	
	padding: 10px;
	margin: 0 20px;
	
	/* background-color: rgb(255, 199, 191); */
	
	/* overflow: hidden; */
}

.home-main {
	height: 100%;
	
}
.home-column {
	width: 300px;
	
	padding-right: 10px;
	margin-right: 10px;
	
	border-right: 1px solid var(--grey-light);
	/* background-color: antiquewhite; */
}
.home-content {
	flex-grow: 1;
	/* background-color: pink; */
}

.home-column-header {
	height: calc(120px + 10px);
	
	position: relative;

	padding-bottom: 10px;
	
	background-color: rgb(255, 252, 208);	
	border-bottom: 1px solid var(--grey-light);
}

.home-column-header-image-container {
	align-items: center;

	width: 100px;
	height: 100%;
	
	padding: 0 0 0 20px;
	
	/* background-color: pink; */
}
#home-column-header-image {
	width: 100%;
	
	border-radius: 100%;
}



#home-column-header-menu-icon {
	position: absolute;
	top:   15px;
	right: 20px;
	
	border: 1px solid blue;
	/* background-color: pink; */
}
/* #home-column-header-menu-icon {
	width: 10px !important;
	min-width: none !important;
	
	position: absolute;
	top:   15px;
	right: 20px;
	
	padding: 0;
	
	background-color: pink;
}
#home-column-header-menu-icon > span {
	min-width: none !important;
	
	width: max-content !important;
	padding: 0;
	margin: 0;
} */
