.home-container {
	flex-direction: row;
	
	width: calc(100vw - (20px * 2));
	height: calc(100vh - (20px * 2));
	
	padding: 10px;
	margin: 0 20px;
	
	/* background-color: rgb(255, 199, 191); */
	
	/* overflow: hidden; */
}

.home-main {
	height: 100%;
	
}
.home-column {
	width: 300px;
	
	padding-right: 10px;
	margin-right: 10px;
	
	border-right: 1px solid var(--grey-light);
	/* background-color: antiquewhite; */
}
.home-content {
	flex-grow: 1;
	/* background-color: pink; */
}

.home-column-header {
	height: calc(120px + 10px);
	
	position: relative;

	padding-bottom: 10px;
	
	/* background-color: rgb(255, 252, 208);	 */
	border-bottom: 1px solid var(--grey-light);
}

.home-column-header-image-container {
	align-items: center;

	width: 100px;
	height: 100%;
	
	padding: 0 0 0 20px;
	
	/* background-color: pink; */
}
#home-column-header-image {
	width: 100%;
	
	border-radius: 100%;
}

.home-column-header-info {
	flex-direction: column;
	align-items: flex-start;
	/* flex-grow: 1; */

	width: 200px;
	height: 100%;

	margin-left: 15px;
	
	/* background-color: rgb(192, 240, 255); */
}
#home-column-header-info-name {
	/* width: 100%; */
	
	margin-bottom: 20px;
	padding-right: 10px;
	
	text-align: justify;
	
	/* background-color: pink; */
}
#home-column-header-info-subtitle {
	/* align-self: flex-end; */
	
	font-size: 0.6rem;
	
	color: var(--grey);
	
	/* background-color: antiquewhite; */
}

#home-column-header-menu-icon {
	position: absolute;
	top:   0px;
	left: 0px;
	
	/* border: 1px solid blue; */
	/* background-color: pink; */
}

.home-column-list {
	flex-grow: 1;
	
	/* background-color: aqua; */
	
	/* overflow: auto; */
}

.home-column-list-item {
	height: 100px;

	position: relative;
	
	padding: 10px;
	
	z-index: 10;
	
	transition: box-shadow 0.1s;
}
.home-column-list-item:hover {
	/* border: 1px solid blue; */
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
	/* box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.4); */
	/* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
}
.home-column-list-item:nth-child(odd) {
	background-color: var(--grey-lightest);	
}
.home-column-list-item:nth-child(even) {
	background-color: var(--white);	
	/* background-color: var(--grey-lightest);	 */
}
