.login-container {
	flex-direction: column;
	
	width: 800px;

	padding: 40px 20px;	

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.login-title {
	position: relative;

	margin-bottom: 40px;
	width: 30%;
}
.login-title > p {
	position: absolute;
	top: 0;
	right: 0;

	color: var(--orange);
}

.login-form {
	width: 100%;
	flex-direction: column;
}
.login-form >:not(:last-child) {
	margin-bottom: 20px;
}
.login-form > * {
	width: 50%;
}
.login-form > *:last-child {
	margin-top: 10px;
	width: 20%;
}

.login-form-input-container > *:last-child {
	color: rgba(0, 0, 0, 0.7);
}

.login-form:first-child > *:last-child {	
	visibility: hidden;
}

.login-form-input-container {
	position: relative;
}
.login-form-input-container > *:last-child {
	width: 40px;
	height: auto;
	
	position: absolute;
	top: 50%;
	right: 0;

	transform: translateY(-50%);

	padding: 10px;

	/* background-color: aqua; */
	
	cursor: pointer;
}
.login-form-input-container > * {
	width: 100%;
}
.login-form-input-container > * input {
	width: calc(100% - (50px));
	/* background-color: pink; */
}

@media only screen and (max-width: 600px) {
	.login-container {
		width: 100%;
	}

	.login-title {
		width: 50%;
	}
	.login-title > p {
		right: -8px;
	}

	.login-form > * {
		width: 80%;
	}
	.login-form > *:last-child {
		width: 40%;
	}
}
