* {
	margin:  0;
	padding: 0;

	font-family: Roboto;
	font-weight: normal;
	
	box-sizing: border-box;

	overscroll-behavior: none;
}

.flexbox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.root-container {
	width: max-content;

	margin: auto;
	margin-top: 20px;
}

@media only screen and (max-width: 600px) {
	.root-container {
		width: 100vw;
	
		padding: 0 10px;
		margin-top: 10px;
	}
}
