:root {
	--orange: #EC6408;
	--orange-light: #ff802b;
	--orange-lighest: #ffdcc4;

	--red: #ec0808;
}

* {
	margin:  0;
	padding: 0;

	font-family: Roboto;
	font-weight: normal;
	
	box-sizing: border-box;

	user-select: none;

	overscroll-behavior: none;
}

::selection {
	background-color: var(--orange-lighest);
}

body {
	/* background-color: #181A1B; */
	/* background-color: #beaa94; */
}

.container {
	flex-direction: column;

	
	padding: 40px 20px;	

	box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	border-radius: 10px;
}

.flexbox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.root-container {
	width: max-content;

	position: relative;
	
	margin: auto;
	margin-top: 20px;
}

@media only screen and (max-width: 600px) {
	.root-container {
		width: 100vw;
	
		padding: 0 10px;
		margin-top: 10px;
	}
}

.notification__item--info {
	background-color: var(--orange-light) !important;
	border-color: var(--orange) !important;
}
.notification__item--info .notification__timer {
	background-color: var(--orange-light) !important;
}
