:root {
	--orange: #EC6408;
	--orange-lighest: #ffdcc4;
}

* {
	margin:  0;
	padding: 0;

	font-family: Roboto;
	font-weight: normal;
	
	box-sizing: border-box;

	user-select: none;

	overscroll-behavior: none;
}

::selection {
	background-color: var(--orange-lighest);
}

body {
	/* background-color: #181A1B; */
	/* background-color: #ad9780; */
}

.flexbox {
	display: flex;
	justify-content: center;
	align-items: center;
}

.root-container {
	width: max-content;

	margin: auto;
	margin-top: 20px;
}

@media only screen and (max-width: 600px) {
	.root-container {
		width: 100vw;
	
		padding: 0 10px;
		margin-top: 10px;
	}
}
